## Notebook for scraping wiki page for toronto data

In this notebook, I'm scraping the Toronto Postal Codes from a wiki page for a Coursera course (see link below). The following tasks are done:

- read the wiki page and load it into a BeautifulSoup object
- parse the BS object and extract the data from the html table while writing it to a first dataframe
- then iterate over that df and copy the data while grouping the neighborhoods over the boroughs

ref.: https://www.coursera.org/learn/applied-data-science-capstone

First, some basic settings:

In [20]:
# where to find the toronto data
wiki_url ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

# column names for target dataframe
mycolumns = ['PostalCode', 'Borough','Neighborhood']

Now import the libraries needed

In [21]:
##
## import libraries
##
import pandas as pd
import sys
import urllib
import urllib.request
from bs4 import BeautifulSoup
print('libaries imported')

libaries imported

## The scraping part

Load the html page

In [22]:
soup = BeautifulSoup(
       urllib.request.urlopen( wiki_url ).read(),
       'html.parser'
       )

## table is <table class="wikitable sortable">
mytable = soup.findAll('table',{'class':'wikitable'})[0]

# check first bytes
print( str(mytable)[0:111] )

<table class="wikitable sortable">
<tbody><tr>
<th>Postcode</th>
<th>Borough</th>
<th>Neighbourhood
</th></tr>

#### Copy the data into a pandas df

- find all rows (tr)
- in each row, find the cells (td)
- extract the text and strip appending newlines
- if not 'Not assigned', copy to df

In [23]:
# create empty dataframe
df_raw = pd.DataFrame(columns=mycolumns)

## extract all rows
rows = mytable.find_all('tr')

## write to df
for row in rows:
    line = ''
    cells = row.find_all('td')
    
    # no cells in header (<th>!!)
    if cells:
        P = cells[0].get_text().strip()
        B = cells[1].get_text().strip()
        N = cells[2].get_text().strip()
        #print(P + '\t' + B + '\t' + N)
        
        # add to df_raw only if Borough is assigned
        if B != 'Not assigned':
            df_raw.loc[len(df_raw)] = [ P, B, N]

# show df_raw
df_raw.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

Show the shape of the df

In [24]:
df_raw.shape

(212, 3)

Show number of unique postal codes

In [25]:
# unique() returns array; shape[0] is number of rows
df_raw['PostalCode'].unique().shape[0]

103

Extract the PostalCodes to iterate over in next step

In [26]:
TPCodes = df_raw['PostalCode'].unique()
TPCodes[0:5]

array(['M3A', 'M4A', 'M5A', 'M6A', 'M7A'], dtype=object)

## Main Loop

This is the main part where the heavy lifting is done:
- copying data for each postalCode
- aggregating the Neighborhoods

In [27]:
df_grouped = pd.DataFrame(columns=mycolumns)
df_grouped

for TPC in TPCodes:
    # filter for TPC
    df_temp = df_raw[df_raw['PostalCode'] == TPC]
    
    # set PostalCode & Borough; Borough is 1:1 to PostalCode and therefor unique here 
    P = TPC
    B = df_temp['Borough'].unique()[0]
    
    # aggregate Neighborhoods by using temp df
    NN   = ''  # empty Neighborhood string
    cnt  = 1   # set counter for rows in df
    # get number of rows
    num_rows = df_temp.shape[0]
    
    # iterate over temp df
    for index,row in df_temp.iterrows():
        NN = NN + row['Neighborhood']
        if cnt < num_rows:
            NN  += ','
            cnt += 1
    
    # if no neighborhood is assigned, take over boroughs name
    if NN == 'Not assigned':
        NN = B
    
    # add data to new df
    df_grouped.loc[len(df_grouped)] = [ P, B, NN]
        
#     
df_grouped

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront,Regent Park"
3,M6A,North York,"Lawrence Heights,Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge,Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens,Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson,Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gar..."
12,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union"
13,M3C,North York,"Flemingdon Park,Don Mills South"
14,M4C,East York,Woodbine Heights
15,M5C,Downtown Toronto,St. James Town
16,M6C,York,Humewood-Cedarvale
17,M9C,Etobicoke,"Bloordale Gardens,Eringate,Markland Wood,Old B..."
18,M1E,Scarborough,"Guildwood,Morningside,West Hill"
19,M4E,East Toronto,The Beaches
20,M5E,Downtown Toronto,Berczy Park
21,M6E,York,Caledonia-Fairbanks
22,M1G,Scarborough,Woburn
23,M4G,East York,Leaside
24,M5G,Downtown Toronto,Central Bay Street
25,M6G,Downtown Toronto,Christie
26,M1H,Scarborough,Cedarbrae
27,M2H,North York,Hillcrest Village
28,M3H,North York,"Bathurst Manor,Downsview North,Wilson Heights"
29,M4H,East York,Thorncliffe Park
...,...,...,...
73,M4R,Central Toronto,North Toronto West
74,M5R,Central Toronto,"The Annex,North Midtown,Yorkville"
75,M6R,West Toronto,"Parkdale,Roncesvalles"
76,M7R,Mississauga,Canada Post Gateway Processing Centre
77,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie..."
78,M1S,Scarborough,Agincourt
79,M4S,Central Toronto,Davisville
80,M5S,Downtown Toronto,"Harbord,University of Toronto"
81,M6S,West Toronto,"Runnymede,Swansea"
82,M1T,Scarborough,"Clarks Corners,Sullivan,Tam O'Shanter"
83,M4T,Central Toronto,"Moore Park,Summerhill East"
84,M5T,Downtown Toronto,"Chinatown,Grange Park,Kensington Market"
85,M1V,Scarborough,"Agincourt North,L'Amoreaux East,Milliken,Steel..."
86,M4V,Central Toronto,"Deer Park,Forest Hill SE,Rathnelly,South Hill,..."
87,M5V,Downtown Toronto,"CN Tower,Bathurst Quay,Island airport,Harbourf..."
88,M8V,Etobicoke,"Humber Bay Shores,Mimico South,New Toronto"
89,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam..."
90,M1W,Scarborough,"L'Amoreaux West,Steeles West"
91,M4W,Downtown Toronto,Rosedale
92,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade
93,M8W,Etobicoke,"Alderwood,Long Branch"
94,M9W,Etobicoke,Northwest
95,M1X,Scarborough,Upper Rouge
96,M4X,Downtown Toronto,"Cabbagetown,St. James Town"
97,M5X,Downtown Toronto,"First Canadian Place,Underground city"
98,M8X,Etobicoke,"The Kingsway,Montgomery Road,Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing Centre969 Eastern
101,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout..."
102,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw..."

Finally, the shape of the generated dataframe:

In [28]:
df_grouped.shape

(103, 3)

So far for getting the data.

## Step2: enriching with Geo Coords

In this par we add longitude  and lattitude to the dataframes rows

### install the geocoder library

In [29]:

!pip install geocoder
import geocoder # import geocoder

print('\n**** installed geocoder ****\n')

Requirement not upgraded as not directly required: geocoder in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages
Requirement not upgraded as not directly required: ratelim in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from geocoder)
Requirement not upgraded as not directly required: requests in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from geocoder)
Requirement not upgraded as not directly required: six in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from geocoder)
Requirement not upgraded as not directly required: click in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from geocoder)
Requirement not upgraded as not directly required: future in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from geocoder)
Requirement not upgraded as not directly required: decorator in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ratelim->geocoder)
Requirement not upgraded as not directly required: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests->geocoder)
Requirement not upgraded as not directly required: idna<2.7,>=2.5 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests->geocoder)
Requirement not upgraded as not directly required: urllib3<1.23,>=1.21.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests->geocoder)
Requirement not upgraded as not directly required: certifi>=2017.4.17 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from requests->geocoder)

**** installed geocoder ****

### define a function for retrieving long&lattm

In [30]:

def fn_get_lattlong(postal_code):

  # initialize your variable to None
  lat_lng_coords = None

  # loop until you get the coordinates
  while(lat_lng_coords is None):
    g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
    lat_lng_coords = g.latlng
    sys.stdout.write('.')

  latitude  = lat_lng_coords[0]
  longitude = lat_lng_coords[1]
  return latitude,longitude

print('defined function')

defined function

#### The next step _would_ get the coordinates from Google but GeoCoder always returned _None_ in m case

for index,row in df_grouped.iterrows():
    # show PostalCode we're working on to indicate progress
    sys.stdout.write( row['PostalCode'] + ' ' )
    # get coords
    latt,long = fn_get_lattlong( row['PostalCode'] )
    # save to df
    row['Latitude']  = latt
    row['Longitude'] = long

#### Instead,  I'm using the CSV file provided by Coursera

Prepare CSV working

In [31]:
import csv
csv_url ='https://cocl.us/Geospatial_data'

Load data into separate dataframe

In [32]:
df_csv = pd.read_csv( csv_url )
df_csv.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### add new column and fill with default

In [33]:

df_grouped['Latitude']  = 0.0
df_grouped['Longitude'] = 0.0

Iterate over grouped dataframe and copy long/latt from csv data

In [34]:

for index,row in df_grouped.iterrows():
    pc = row['PostalCode']
    # show PostalCode we're working on to indicate progress
    sys.stdout.write( pc + ' ' )
    
    # get coords and save to df_grouped
    latt = df_csv.loc[ df_csv['Postal Code'] == pc ]['Latitude'].values[0]
    long = df_csv.loc[ df_csv['Postal Code'] == pc ]['Longitude'].values[0]
    
    # set values in grouped df
    df_grouped.loc[ df_grouped['PostalCode'] == pc, 'Latitude' ]  = latt
    df_grouped.loc[ df_grouped['PostalCode'] == pc, 'Longitude' ] = long

M3A M4A M5A M6A M7A M9A M1B M3B M4B M5B M6B M9B M1C M3C M4C M5C M6C M9C M1E M4E M5E M6E M1G M4G M5G M6G M1H M2H M3H M4H M5H M6H M1J M2J M3J M4J M5J M6J M1K M2K M3K M4K M5K M6K M1L M2L M3L M4L M5L M6L M9L M1M M2M M3M M4M M5M M6M M9M M1N M2N M3N M4N M5N M6N M9N M1P M2P M4P M5P M6P M9P M1R M2R M4R M5R M6R M7R M9R M1S M4S M5S M6S M1T M4T M5T M1V M4V M5V M8V M9V M1W M4W M5W M8W M9W M1X M4X M5X M8X M4Y M7Y M8Y M8Z

## Here we are:

In [35]:
df_grouped.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494

### Finally, download
data for clustering in next stepm

In [39]:
## download from Watson Studio Notebook,
## see https://medium.com/ibm-data-science-experience/how-to-upload-download-files-to-from-notebook-in-my-local-machine-6a4e65a15767

import base64
from IPython.display import HTML

def create_download_link( df, title = "Download CSV file", filename = "data.csv"):  
    csv = df.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(df_grouped, 'Download toronto.csv', 'toronto.csv')